  <mat-table [dataSource]="games">
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Scored">
      <mat-header-cell *matHeaderCellDef>Scored</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.scored}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Against">
      <mat-header-cell *matHeaderCellDef>Against</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{element.against}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Points">
      <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{element.points}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="row" *matRowDef="let team; columns: displayedColumns;"></mat-row>
  </mat-table>
