<form>
  <mat-form-field>
    <input matInput [value]="team?.name" placeholder="Team Name" />
  </mat-form-field>
  <mat-checkbox [checked]="team?.isPaid">Paid</mat-checkbox>
  <div *ngFor="let member of team?.members">
    <mat-form-field>
      <input matInput [value]="member?.name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="member?.lastname" placeholder="Lastname" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="member?.email" placeholder="Email" />
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit" color="primary" (click)="updateSettings()">Save</button>
  </div>
</form>
